<!DOCTYPE html>
<html ng-app="mainApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHANGE THIS LATER</title>
    @Styles.Render("~/Content/css")

</head>
<body>    
    <div class="container" ng-controller="mainController">
        <strong ng-cloak>{{hello}}</strong>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vendor")
    @Scripts.Render("~/bundles/app")
</body>
</html>